//----------------------------------------------------------------
//IMPORTS
//----------------------------------------------------------------
 
@import "_themeinfo";
@import "_boiler";
@import "_grid";

//----------------------------------------------------------------
//COLOURS
//----------------------------------------------------------------

$red: #BE3232;
$deepRed: #822222;
$lightGray: #EDEDED;

$blue: #00AEDA;
$blueAlt: #31BFFF;
$darkBlue: #003641;
$cream: #FFF6DB;
$tan: #AA9079;

//----------------------------------------------------------------
//MIXINS
//----------------------------------------------------------------

@mixin fontify ($fz, $fw, $lh:1.5em, $ls:0.06em, $td:none) {
	font-family: 'Source Sans Pro', 'Georgia', serif;
	font-size: $fz;
	font-weight: $fw;
	line-height: $lh;
	letter-spacing: $ls;
	text-decoration: $td;
}


//----------------------------------------------------------------
//----------------------------------------------------------------
//STYLES
//----------------------------------------------------------------
//----------------------------------------------------------------

body {
	-webkit-font-smoothing: anti-aliased;
	text-rendering: optimizeLegibility;
}

//font fanciness for headers and whatnot
// h1,h2,h3,h4,h5,h6 {
// 	-webkit-font-smoothing: antialiased;
// 	text-rendering: optimizeLegibility;
// }

//CONTAINERS
.fullBleed {
	width: 100%;
	float: left;
	.container {
		max-width: 1200px;
		margin: 0 auto;
		width: 100%;
		float: left;
		padding: 25px;
	}
}



//----------------------------------------------------------------
//HEADER
//----------------------------------------------------------------





























