//----------------------------------------------------------------
//IMPORTS
//----------------------------------------------------------------
 
@import "sass/_themeinfo";
@import "sass/_boiler";
@import "sass/_grid";

//----------------------------------------------------------------
//COLOURS
//----------------------------------------------------------------

//PCURIO BASE
$red: #BE3232;
$deepRed: #822222;
$heroGray: #E5E5E5;
$blogGray: #F4F3F3;
$lightGray: #EDEDED;
$darkGray: #444;

//ALBUM COVER
$blue: #00AEDA;
$blueAlt: #31BFFF;
$darkBlue: lighten(#003641,10);
$cream: #FFF6DB;
$tan: #AA9079;
$pink: #EA6B6B;

//YELLOW
$yellow: #FFCC00;
$dirtyYellow: #E0C341;
$dirtyYellowLite: #E9CE4D;

//GREEN
$mutedGreen: #58743D;
$mutedGreenLite: #92A762;
$darkGreen: #264C2F;


//TYPICONS
@font-face {
  font-family: 'typicons';
  src: url("font/typicons.eot");
  src: url("font/typicons.eot?#iefix") format('embedded-opentype'),
       url("font/typicons.woff") format('woff'),
       url("font/typicons.ttf") format('truetype'),
       url("font/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}

//----------------------------------------------------------------
//MIXINS
//----------------------------------------------------------------

@mixin fontify ($fz, $fw, $lh:1.6em, $ls:0.05em, $td:none) {
	// font-family: 'Raleway', sans-serif;
	font-size: $fz;
	font-weight: $fw;
	line-height: $lh;
	letter-spacing: $ls;
	text-decoration: $td;
}

@mixin shiftOva ($di:inline,$fl:left) {
	display: $di;
	float: $fl;
}

@mixin linkage ($colour,$hover,$td:none) {
		color: $colour;
		text-decoration: $td;
		&:visited {
			color: $colour;
		}
		&:hover {
			color: $hover;
		}
}

@mixin theHardestButtonToButton ($bgInit,$textInit,$bgHover:$bgInit,$textHover:$textInit) {
	@include fontify(0.6em,700,inherit,0.15em);
	text-transform: uppercase;
	padding: 10px 15px;
	background-color: $bgInit;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	color: $textInit;
	&:visited {
		color: $textInit;
	}
	&:hover {
		color: $textHover;
		background-color: $bgHover;
	}
}

@mixin theLessHardButtonToButton ($bgInit,$textInit,$bgHover:$bgInit,$textHover:$textInit) {
	@include fontify(0.75em,500);
	display: inline-block;
	// text-transform: uppercase;
	padding: 10px 15px;
	margin: 0 1px 7px 1px;
	background-color: $bgInit;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	color: $textInit;
	&:visited {
		color: $textInit;
	}
	&:hover {
		color: $textHover;
		background-color: $bgHover;
	}
}


//----------------------------------------------------------------
//----------------------------------------------------------------
//STYLES
//----------------------------------------------------------------
//----------------------------------------------------------------

body {
	@include fontify(16px,400);
	font-family: 'Raleway', sans-serif;
	// -webkit-font-smoothing: antialiased;
	// text-rendering: optimizeLegibility;
}

// font fanciness for headers and whatnot
h1,h2,h3,h4,h5,h6 {
	// font-family: 'Noto Sans',sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

//CONTAINERS
.fullBleed {
	width: 100%;
	float: left;
	.container {
		max-width: 1400px;
		margin: 0 auto;
		width: 100%;
		padding: 75px 5% 75px 5%;
		overflow:hidden;
	}
}

.fullBleed.sectionTitle {
	text-align: center;
	background-color: $dirtyYellow;
	color: white;
	.container {
		padding: 0;
		height:63px;
		h3 {
			margin: 0;
			color: $darkGray;
		}
	}
}

a {
	@include linkage ($red,$deepRed);
}

h1 {
	@include fontify(1.25em,700);
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;	
	margin:0;
}

h2 {
	@include fontify(1em,700);
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	margin-bottom: 0;
}

h3 {
	@include fontify(0.75em,700);
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	margin-top: 0;
}

h4 {
	@include fontify(1.25em,700);
	margin-top: 0;
}

h5 {
	@include fontify(1em,700);
	margin:0;
}

ul {
	padding: 0;
	li {
		list-style-type: none;
		margin:0;
	}
}

.btn {
	@include theHardestButtonToButton ($darkBlue,white,$blue);
}


//----------------------------------------------------------------
//HEADER
//----------------------------------------------------------------

header.fullBleed.headerSection {
	font-family: 'Raleway', sans-serif;
	position: fixed;
	z-index: 10;
	background-color: $heroGray;
	@include fontify(0.75em,inherit);
	.container {
		padding: 10px;
		overflow: hidden;
	}
	text-transform: uppercase;
	a {
		@include linkage(black,$darkGray);
	}
}

.site-title {
	padding: 10px 10px 10px 5px;
}

.site-branding {
	@include column(4);
}

.site-logo {
	@include column(4);
	text-align: center;
	padding-top: 5px;
	.svg-pcurio {
		width: 15px;
		height: 100%;
		display: none;
	}
}

//HOME NAV
nav.main-navigation {
	@include column(4);
	ul {
		padding: 0;
		float:right;
		li {			
			list-style-type:none;
			float: left;
			display: inline;
			a {
				padding-left: 30px;
				&:last-child {
					padding-right: 5px;
				}
			}
		}
	}
}

//PAGES NAV
.fullBleed.headerSection.pagesNav {
	.site-branding {
		a {
			@include shiftOva;
			padding-top: 10px;
			padding-left: 5%;
		}
		svg {
			width: 50px;
			height: auto;
			@include shiftOva;
		}
		.site-title {
			float: left;
			display: inline;
			padding: 0;
		}
	}
	nav.main-navigation {
		// padding-right: 5%;
	}
}

//MOBILE NAV
nav.mobile-navigation {
	display:none;
}

//----------------------------------------------------------------
//HERO
//----------------------------------------------------------------

section.hero {
	background-color: $heroGray;
	text-align: center;
	text-transform: uppercase;
	padding-top: 275px;
	padding-bottom: 375px;
	.heroWrap {

		svg {
			width: 4.5%;
			height: 100%;
		}
	}
}

.myTitle {
	@include fontify(0.85em,400);
	margin: 0;
}


//----------------------------------------------------------------
//ABOUT SECTION
//----------------------------------------------------------------

section.about {
	background-color: $lightGray;
	.container {
		padding: 75px 10%;
	}
	p.intro {
		@include fontify(1.25em,300,1.8em);
		margin-top: 0;
		margin-bottom: 50px;
	}

	.skillSection {
		margin-bottom: 10px;
		padding-right: 25%;
	}

	.skillList {
		margin-bottom: 25px;
			li {
				@include theLessHardButtonToButton ($heroGray,$darkGray);
				&:hover {
					transition:none;
				}
		}
	}
	.socialSection {
		margin-top: 60px;
	}
	.socialList {
		margin-bottom:0;
		li {
			// @include fontify(0.75em,500);
			display: inline-block;
			margin-bottom: 10px;
			// margin: 0 2px 10px 0;
			// margin-right: 2px;
			// padding: 0;
			// border: none;
				a {
				@include theHardestButtonToButton ($heroGray,$darkGray,$red,white);
			}
		}
	}

	.otherLinks {
		margin-top:10px;
		a {
			@include theHardestButtonToButton ($heroGray,$darkGray,$red,white);
		}
	}

}

//----------------------------------------------------------------
//WORK SECTION
//----------------------------------------------------------------

section.work {
	.projectPost:nth-child(3n+1) {
		background-color: $mutedGreenLite;
	}

	.projectPost:nth-child(3n+2) {
		background-color: lighten($tan,10);
	}

	.projectPost:nth-child(3n+3) {
		background-color: darken($cream,5);
	}
}

.projectPost {
	@include shiftOva;
	width: 100%;
	.container {
		// @include shiftOva;
		// width: 100%;
	}
	//Featured Image
	div.projectPreview {
		@include column(5);
		figure {
			width: 100%;
		}
		img {
			padding-top: 5px;
			width: 100%;
			height: auto;
		}
		//Buttons
		.buttons {
			margin-top: 5%;
			@include column(10);
			@include push(2);
			ul {
				float:left;
				width: 100%;
			}
			li {
				@include shiftOva;
				margin-right: 5px;
				a {
					@include theHardestButtonToButton($darkBlue,white,$blue);
				}
			}
		}
	}
	//Project Description
	article.projectDescription {
		@include column(7);
		padding-left: 3%;
		p {
			@include fontify(1em,400);
			font-family: 'Noto Sans';
		}
		footer {
			padding-right: 25%;
			ul {
				@include shiftOva;
			}
			li {
				@include shiftOva;
				@include theLessHardButtonToButton($heroGray,$darkGray);
				padding: 5px 10px;
			}
			
		}
	}
}

//MEDIA QUERIES – BLOG SECTION
//----------------------------------------------------------------
@media all and (max-width: 768px) {
	.projectPost {
		//Featured Image
		div.projectPreview {
			@include column(12);
			text-align: center;
			figure {
				width: 100%;
				text-align:center;
			}
			img {
				padding-top: 5px;
				width: 86%;
				height: auto;
			}
			//Buttons
			.buttons {
				margin:0 auto;
				@include column(12);
			}
		}
		//Project Description
		article.projectDescription {
			@include column(12);
			// padding-left: 3%;
			// p {
			// 	@include fontify(1em,400);
			// 	font-family: 'Noto Sans';
			// }
			// footer {
			// 	padding-right: 25%;
			// 	ul {
			// 		@include shiftOva;
			// 	}
			// 	li {
			// 		@include shiftOva;
			// 		@include theLessHardButtonToButton($heroGray,$darkGray);
			// 		padding: 5px 10px;
			// 	}
				
			// }
		}
	}

}





//----------------------------------------------------------------
//BLOG SECTION
//----------------------------------------------------------------
 

.fullBleed.blog {
	background-color: $dirtyYellowLite;
	.container.blogContainer {
		padding: 5% 4% 75px 4%;
	}
}

//Single Post
.homepagePost {
	position: relative;
	z-index: 0;
	@include column(4);
	margin-bottom: 15px;
	padding: 3%;
	background-color: $dirtyYellow;
	min-height: 325px;
	p {
		margin-bottom: 0;
	}
	header {
		@include fontify(1.25em,700);
		color: $darkGray;
		// padding: 20px;
		.post-categories { //this is generated by WordPress (the_category)
			margin: 0;
			padding: 0;
			text-transform: uppercase;
			@include fontify(0.6em,500);
			color: $deepRed;
			li {
				list-style-type: none;
				margin: 0;
			}
		}
	}
	article {
		clear: none;
		color: darken($darkGray,5);
		.read-more {
			@include fontify(0.75em,700);
			text-transform: uppercase;	
		}
	}
	footer {
		padding-bottom:10px;
		@include fontify(0.6em,700);
		color: darken($dirtyYellow,20);
		text-transform: uppercase;
	}
	.btn {
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: $red;
		padding: 5px 10px;
		&:hover {
			background-color: $deepRed;
		}
	}
}

//MEDIA QUERIES – BLOG SECTION
//----------------------------------------------------------------
@media all and (max-width: 944px) {
	.homepagePost {
		@include column(6);
		margin-bottom: 15px;
		min-height:285px;
		header {
			@include fontify(1.25em,700);
		}
		.excerpt {
			@include fontify(1em,500);
		}
	}
} 

@media all and (max-width: 768px) {
	.homepagePost {
		min-height:300px;
		header {
			@include fontify(1.25em,700);
		}
		.excerpt {
			@include fontify(1em,500);
		}
	}
}



//----------------------------------------------------------------
//SINGLE PAGE
//----------------------------------------------------------------

.fullBleed.singlePage {
	background-color: $blogGray;
	p {
		@include fontify(1em,400,1.6em,0.02em);
		font-family: 'Noto Sans',sans-serif;
		margin: 1.75em 0;
		color: darken($darkGray,10);
	}
	strong {
		@include fontify(1em,700);
		font-family: 'Raleway', sans-serif;
		margin-top: 0;
	}
	h2 {
		@include fontify(1.5em,700);
		color: $darkGray;
		margin:0;
		padding-bottom: 5px;
		border-bottom: 5px solid $red;
	}
}

.fullBleed.singlePage {
	.container {
		padding: 15% 10% 10% 4%;
		aside {
			@include column(2);
			@include fontify(0.8em,500);
			p.single-date {
				margin: 0.5em 0;
			}
			.single-tagSection {
				padding-bottom: 10px;
				border-bottom: 5px solid $red;
				p.single-tags {
					font-weight: 700;
					color: $darkGray;
					margin: 0.75em 0;
				}
			}
		}
		main {
			@include column(9);
			@include push(0.8);
			header {

			}
			article {
				blockquote {
				}
				ol {
					font-family:'Noto Sans', sans-serif;
					strong {
						font-family:'Noto Sans', sans-serif;
					}
				}
				img {
					max-width: 75%;
				}
			}
			footer {

			}

		}
	}
}



//----------------------------------------------------------------
//FOOTER
//----------------------------------------------------------------

footer.fullBleed.footerSection {
	background-color: $heroGray;
	a {
		@include linkage($red,$deepRed);
	}
	h3 {
		text-transform: none;
	}
	.container {
		margin: 0 auto;
		padding: 1%;
		.otherLinks {
			@include column(6);
			margin-top:5px;
			h3 {
				margin-bottom:0;
			}
		}
		.socialIcons {
			@include column(6);
			text-align:right;
		}
	}
}


//----------------------------------------------------------------
//----------------------------------------------------------------

//----------------------------------------------------------------
//RESUME PAGE
//----------------------------------------------------------------

/*RESUME STARTS*/

.resume {
	padding: 50px 12%;
	line-height: 1.8em;
	background: #F0F0E4;
	h3 {
		margin-bottom:1.5em;
	}
	h3.title {
		text-align: center;
	}
	h4 {
		@include fontify(1em,700);
	}
}

.resumeSection {
	padding: 20px 0;
	border-bottom: 1px solid #8C9492;

}

// h4 {
// 	font-weight: 700;
// }

.dates {
	float: right;
	font-weight: 400;
	padding-right: 10px;
	/*text-transform: lowercase;*/
}

.resumeSection dd {
	padding-bottom: 30px;
	margin: 0;
}

// h3 {
// 	font-size: 12px;
// 	font-weight: 700;
// 	text-transform: uppercase;
// }



























