//----------------------------------------------------------------
//IMPORTS
//----------------------------------------------------------------
 
@import "sass/_themeinfo";
@import "sass/_boiler";
@import "sass/_grid";

//----------------------------------------------------------------
//COLOURS
//----------------------------------------------------------------

$red: #BE3232;
$deepRed: #822222;
$lightGray: #EDEDED;
$heroGray: #E5E5E5;
$darkGray: #444;

$blue: #00AEDA;
$blueAlt: #31BFFF;
$darkBlue: #003641;
$cream: #FFF6DB;
$tan: #AA9079;
$pink: #EA6B6B;

$yellow: #FFCC00;
$dirtyYellow: #E0C341;
$dirtyYellowLite: #E9CE4D;

//TYPICONS
@font-face {
  font-family: 'typicons';
  src: url("../font/typicons.eot");
  src: url("../font/typicons.eot?#iefix") format('embedded-opentype'),
       url("../font/typicons.woff") format('woff'),
       url("../font/typicons.ttf") format('truetype'),
       url("../font/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}

//----------------------------------------------------------------
//MIXINS
//----------------------------------------------------------------

@mixin fontify ($fz, $fw, $lh:1.6em, $ls:0.05em, $td:none) {
	// font-family: 'Raleway', sans-serif;
	font-size: $fz;
	font-weight: $fw;
	line-height: $lh;
	letter-spacing: $ls;
	text-decoration: $td;
}

@mixin shiftOva ($di:inline,$fl:left) {
	display: $di;
	float: $fl;
}


//----------------------------------------------------------------
//----------------------------------------------------------------
//STYLES
//----------------------------------------------------------------
//----------------------------------------------------------------

body {
	@include fontify(16px,400);
	font-family: 'Raleway', sans-serif;
	// -webkit-font-smoothing: antialiased;
	// text-rendering: optimizeLegibility;
}

// font fanciness for headers and whatnot
h1,h2,h3,h4,h5,h6 {
	// font-family: 'Noto Sans',sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

//CONTAINERS
.fullBleed {
	width: 100%;
	float: left;
	.container {
		max-width: 1400px;
		margin: 0 auto;
		width: 100%;
		padding: 75px 50px;
		overflow:hidden;
	}
}

.fullBleed.sectionTitle {
	text-align: center;
	background-color: $tan;
	color: white;
	.container {
		padding: 25px;
		h3 {
			margin: 0;
		}
	}
}

a {
	color: $red;
	text-decoration: none;
	&:visited {
		color: $red;
	}
	&:hover {
		color: $deepRed;
	}
}

h1 {
	@include fontify(1.25em,700);
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;	
	margin:0;
}

h2 {
	@include fontify(1em,700);
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	margin-bottom: 0;
}

h3 {
	@include fontify(0.75em,700);
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	margin-top: 0;
}

h4 {
	@include fontify(1.25em,700);
	margin-top: 0;
}

h5 {
	@include fontify(1em,700);
	margin:0;
}

// p {
// 	font-family: 'Noto Sans',sans-serif;
// }

ul {
	padding: 0;
	li {
		list-style-type: none;
		margin:0;
	}
}

.btn {
	@include fontify(0.6em,700,inherit,0.15em);
	text-transform: uppercase;
	padding: 10px 15px;
	// border-radius: 3px;
	background-color: $darkBlue;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	color: white;
	&:visited {
		color: white;
	}
	&:hover {
		color: white;
		background-color: $blue;
	}
}


//----------------------------------------------------------------
//HEADER
//----------------------------------------------------------------

header.fullBleed.headerSection {
	font-family: 'Raleway', sans-serif;
	position: fixed;
	z-index: 10;
	background-color: $heroGray;
	@include fontify(0.75em,inherit);
	.container {
		padding: 10px;
		overflow: hidden;
	}
	text-transform: uppercase;
	a {
		color: black;
		text-decoration: none;
		&:visited {
			color: black;
		}
		&:hover {
			color: $darkGray;
		}
	}	
}

.site-title {
	padding: 10px;
}

.site-branding {
	@include column(4);
}

.site-logo {
	@include column(4);
	text-align: center;
	padding-top: 5px;
	svg{
		width: 15px;
		height: 100%;
		display: none;
	}
}

nav.main-navigation {
	@include column(4);
	ul {
		padding: 0;
		float:right;
		li {			
			list-style-type:none;
			float: left;
			display: inline;
			a {
				padding: 15px;
			}
		}
	}
}


//MOBILE NAV
nav.mobile-navigation {
	display:none;
}

//----------------------------------------------------------------
//HERO
//----------------------------------------------------------------

section.hero {
	background-color: $heroGray;
	text-align: center;
	text-transform: uppercase;
	padding-top: 275px;
	padding-bottom: 375px;
	.heroWrap {

		svg {
			width: 4.5%;
			height: 100%;
		}
	}
}

.myTitle {
	@include fontify(0.85em,400);
	margin: 0;
}


//----------------------------------------------------------------
//ABOUT SECTION
//----------------------------------------------------------------

section.about {
	background-color: $lightGray;
	p.intro {
		@include fontify(1.25em,300,1.8em);
		padding-right: 50px;
		margin-top: 0;
		margin-bottom: 50px;
	}

	.skillSection {
		margin-bottom: 30px;
		padding-right: 200px;
	}

	.skillList {
		margin-bottom: 25px;
			li {
			@include fontify(0.75em,500);
			display: inline-block;
			padding: 10px 15px;
			margin-right: 2px;
			border: 1px solid #999;
			margin-bottom: 10px;
		}
	}
	.socialList {
		li {
			@include fontify(0.75em,500);
			display: inline-block;
			margin: 0;
			margin-right: 2px;
			padding: 0;
			border: none;
				a {
				display: inline-block;
				padding: 10px 15px;
				border: 1px solid #999;
				&:hover {
					color: $red;
					border: 1px solid #BE3232;
				}	
			}
		}
	}

}

//----------------------------------------------------------------
//WORK SECTION
//----------------------------------------------------------------

section.work {
	
}

.projectPost {
	@include shiftOva;
	width: 100%;
	background-color: $pink;
	.container {
		@include shiftOva;
		width: 100%;
	}
	//Featured Image
	figure.projectPreview {
		@include column(6);
		img {
			width: 100%;
			height: auto;
		}
	}
	//Project Description
	article.projectDescription {
		@include column(6);
		p {
			@include fontify(1em,400);
			font-family: 'Noto Sans';
		}
	}	

}




//----------------------------------------------------------------
//BLOG SECTION
//----------------------------------------------------------------
 
.fullBleed.blog {
	background-color: $dirtyYellowLite;
}

//Single Post
.homepagePost {
	position: relative;
	z-index: 0;
	@include column(4);
	margin-bottom: 15px;
	padding: 3%;
	background-color: $dirtyYellow;
	min-height: 325px;
	p {
		margin-bottom: 0;
	}
	header {
		@include fontify(1.25em,700);
		color: $darkGray;
		// padding: 20px;
		.post-categories { //this is generated by WordPress (the_category)
			margin: 0;
			padding: 0;
			text-transform: uppercase;
			@include fontify(0.6em,500);
			color: darken($dirtyYellow,20);
			li {
				list-style-type: none;
				margin: 0;
			}
		}
	}
	// figure {
	// 	clear: none;
	// 	width: 100%;
	// 	height: 200px;
	// 	overflow: hidden;
	// 	img {
	// 	width: 100%;
	// 	}
	// }
	article {
		clear: none;
		// padding: 0 20px;
		color: $darkGray;
		.read-more {
			@include fontify(0.75em,700);
			text-transform: uppercase;	
		}
	}
	footer {
		padding-bottom:20px;
		@include fontify(0.6em,700);
		color: darken($dirtyYellow,20);
		text-transform: uppercase;
	}
	.btn {
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: $red;
		padding: 5px 10px;
		&:hover {
			background-color: $deepRed;
		}
	}
}


//----------------------------------------------------------------
//FOOTER
//----------------------------------------------------------------


footer {
	clear:both;
}





























