//----------------------------------------------------------------
//IMPORTS
//----------------------------------------------------------------
 
@import "sass/_themeinfo";
@import "sass/_boiler";
@import "sass/_grid";

//----------------------------------------------------------------
//COLOURS
//----------------------------------------------------------------

//PCURIO BASE
$red: #BE3232;
$deepRed: #822222;
$heroGray: #E5E5E5;
$blogGray: #F4F3F3;
$lightGray: #EDEDED;
$darkGray: #444;

//Work Base
$superDark: #22272F;

//ALBUM COVER
$blue: #00AEDA;
$blueAlt: #31BFFF;
$darkBlue: lighten(#003641,10);
$cream: #FFF6DB;
$tan: #AA9079;
$pink: #EA6B6B;

//YELLOW
$yellow: #FFCC00;
$dirtyYellow: #E0C341;
$dirtyYellowLite: #E9CE4D;

//GREEN
$mutedGreen: #58743D;
$mutedGreenLite: #92A762;
$darkGreen: #264C2F;


//Mauve
$mauve: #835D5C;
$mauveLite: #A36B63;

//GREY BLUE
$grayBlue: #9EB2BE;
$grayBlueLite: #C1CFD8;

//SALMON
$orangeSalmon: #C86040;
$orangeSalmonLite: #DC7555;

//Grey teals
$grayTeal: #698888;
$grayCream: #EBEEDD;

//Aqua
$aqua: #00A8A7;
$aquaLite: #2AC4C0;

//PinkLite
$pinkLite: #FC9991;
$pinkExtraLite: #FFE7E6;


//TYPICONS
@font-face {
  font-family: 'typicons';
  src: url("font/typicons.eot");
  src: url("font/typicons.eot?#iefix") format('embedded-opentype'),
       url("font/typicons.woff") format('woff'),
       url("font/typicons.ttf") format('truetype'),
       url("font/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}

//----------------------------------------------------------------
//MIXINS
//----------------------------------------------------------------

@mixin fontify ($fz, $fw, $lh:1.6em, $ls:0.05em, $td:none) {
	// font-family: 'Raleway', sans-serif;
	font-size: $fz;
	font-weight: $fw;
	line-height: $lh;
	letter-spacing: $ls;
	text-decoration: $td;
}

@mixin shiftOva ($di:inline,$fl:left) {
	display: $di;
	float: $fl;
}

@mixin linkage ($colour,$hover,$td:none) {
		color: $colour;
		text-decoration: $td;
		&:visited {
			color: $colour;
		}
		&:hover {
			color: $hover;
		}
}

@mixin theHardestButtonToButton ($bgInit,$textInit,$bgHover:$bgInit,$textHover:$textInit) {
	@include fontify(0.6em,700,inherit,0.15em);
	text-transform: uppercase;
	padding: 10px 15px;
	background-color: $bgInit;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	color: $textInit;
	&:visited {
		color: $textInit;
	}
	&:hover {
		color: $textHover;
		background-color: $bgHover;
	}
}

@mixin theLessHardButtonToButton ($bgInit,$textInit,$bgHover:$bgInit,$textHover:$textInit) {
	@include fontify(0.75em,500);
	display: inline-block;
	// text-transform: uppercase;
	padding: 10px 15px;
	margin: 0 3px 7px 2px;
	background-color: $bgInit;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	color: $textInit;
	&:visited {
		color: $textInit;
	}
	&:hover {
		color: $textHover;
		background-color: $bgHover;
	}
}


//----------------------------------------------------------------
//----------------------------------------------------------------
//STYLES
//----------------------------------------------------------------
//----------------------------------------------------------------

body {
	@include fontify(16px,400);
	font-family: 'Raleway', sans-serif;
	// -webkit-font-smoothing: antialiased;
	// text-rendering: optimizeLegibility;
}

// font fanciness for headers and whatnot
h1,h2,h3,h4,h5,h6 {
	// font-family: 'Noto Sans',sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

//CONTAINERS
.fullBleed {
	width: 100%;
	float: left;
	.container {
		max-width: 1400px;
		margin: 0 auto;
		width: 100%;
		padding: 75px 4% 75px 4%;
		overflow:hidden;
	}
}

.fullBleed.sectionTitle {
	text-align: center;
	background-color: $dirtyYellow;
	color: white;
	.container {
		padding: 0;
		height:63px;
		h3 {
			margin: 0;
			color: $darkGray;
		}
	}
}

a {
	@include linkage ($red,$deepRed);
}

h1 {
	@include fontify(1.25em,700);
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;	
	margin:0;
}

h2 {
	@include fontify(1em,700);
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	margin-bottom: 0;
}

h3 {
	@include fontify(0.75em,700);
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	margin-top: 0;
}

h4 {
	@include fontify(1.25em,700);
	margin-top: 0;
}

h5 {
	@include fontify(1em,700);
	margin:0;
}

ul {
	padding: 0;
	li {
		list-style-type: none;
		margin:0;
	}
}

.btn {
	@include theHardestButtonToButton ($darkBlue,white,$blue);
}

//----------------------------------------------------------------
//----------------------------------------------------------------
//MEDIA QUERIES — GLOBAL





//----------------------------------------------------------------
//HEADER
//----------------------------------------------------------------

header.fullBleed.headerSection {
	font-family: 'Raleway', sans-serif;
	position: fixed;
	z-index: 10;
	background-color: $heroGray;
	@include fontify(0.75em,inherit);
	.container {
		padding: 10px;
		overflow: hidden;
	}
	text-transform: uppercase;
	a {
		@include linkage(black,$darkGray);
	}
}

.site-title {
	padding: 10px 10px 10px 5px;
}

.site-branding {
	@include column(6);
}


.site-mobileNav {
	display:none;
	text-align: center;
	padding-top: 5px;
	.mobileNav {
		display:none;
		cursor: pointer;
		width: 20px;
		svg {
			width: 100%;
			color: $darkGray;
		}
	}
}

//HOME NAV
nav.main-navigation {
	@include column(6);
	ul {
		padding: 0;
		float:right;
		li {			
			list-style-type:none;
			float: left;
			display: inline;
			a {
				padding-left: 30px;
				&:last-child {
					padding-right: 5px;
				}
			}
		}
	}
}

//PAGES NAV
.fullBleed.headerSection.pagesNav {
	.site-branding {
		a {
			@include shiftOva;
			padding-top: 10px;
			padding-left: 5%;
		}
		svg {
			width: 50px;
			height: auto;
			@include shiftOva;
		}
		.site-title {
			float: left;
			display: inline;
			padding: 0;
		}
	}
}

//MOBILE NAV
//----------------------------------------------------------------
 /*MOBILE NAVIGATION (INITIAL HIDE) */
//----------------------------------------------------------------

@media all and (max-width: 768px) {
	.site-branding.main-menu {
		@include column(6);
	}

	.site-mobileNav.main-menu {
		@include column(6);
		.mobileNav {
			display: inline;
			float:right;
			padding: 10px 10px 0px 0px;
			width: 25px;
		}
	}

	nav.main-navigation.main-menu {
		@include column(12);
		display:none;
		text-align: center;
		ul {
			width: 100%;
			@include fontify(1em,500);
			li {
				width: 100%;
				float:left;
				margin: 0.75% 0;
				padding:2%;
				background-color: $lightGray;
				a {
					padding: 10px 15px;
					&:last-child {
						padding:none;
					}
				}
			}

		}	
	}

}

@media all and (min-width: 769px){

	nav.main-navigation.main-menu#menu{
		display: block !important; 
		#menuList {
			display: block !important;
		}
	}
}


@media all and (max-width: 640px) {

	.site-mobileNav.main-menu {
		@include column(6);
		.mobileNav {
			display: inline;
			float:right;
			padding: 6px 10px 0px 0px;
			width: 25px;
		}
	}

}







//----------------------------------------------------------------
//HERO
//----------------------------------------------------------------

section.hero {
	background-color: $heroGray;
	text-align: center;
	text-transform: uppercase;
	padding: 30% 0;
	.heroWrap {
		svg {
			width: 4.5%;
			height: 100%;
		}
	}
}

.myTitle {
	@include fontify(0.85em,400);
	margin: 0;
}

//----------------------------------------------------------------
//MEDIA QUERIES

@media all and (max-width: 768px) {
	section.hero {
		padding: 48% 0;
	}
}

@media all and (max-width: 640px) {
	section.hero {
		padding: 58% 0;
	}
}

// @media all and (max-width: 320px) {
// 	section.hero {
// 		padding: 48% 0;
// 	}
// }

//----------------------------------------------------------------
//ABOUT SECTION
//----------------------------------------------------------------

section.about {
	background-color: $lightGray;
	.container {
		padding: 75px 10%;
	}
	p.intro {
		@include fontify(1.25em,300,1.8em);
		margin-top: 0;
		margin-bottom: 50px;
	}

	.skillSection {
		margin-bottom: 10px;
	}

	.skillList {
		margin-bottom: 25px;
			li {
				@include theLessHardButtonToButton ($lightGray,$darkGray);
				border: 1px solid lighten($darkGray,20);
				margin: 0 1px 7px 1px;
				&:hover {
					transition:none;
				}
		}
	}
	.socialSection {
		margin-top: 60px;
	}
	.socialList {
		margin-bottom:0;
		li {
			// @include fontify(0.75em,500);
			display: inline-block;
			margin-bottom: 10px;
			// margin: 0 2px 10px 0;
			// margin-right: 2px;
			// padding: 0;
			// border: none;
				a {
				@include theHardestButtonToButton ($heroGray,$darkGray,$red,white);
			}
		}
	}

	.otherLinks {
		margin-top:10px;
		a {
			@include theHardestButtonToButton ($heroGray,$darkGray,$red,white);
		}
	}

}

//----------------------------------------------------------------
//MEDIA QUERIES — ABOUT SECTION

@media all and (min-width: 768px) {
	section.about {
		.skillSection {
			padding-right: 25%;
		}
	}

}

@media all and (max-width: 640px) {
	section.about {
		.container {
			padding: 50px 5% 75px 5%;
		}
		.skillSection {
			margin-bottom: 10px;
		}
	}

}


//----------------------------------------------------------------
//WORK SECTION
//----------------------------------------------------------------

section.work {
	color: darken($superDark,5);
	//Every Third project starting at the first
	.projectPost:nth-child(3n+1) {
		background-color: lighten($mauveLite,20);	
		article.projectDescription {
			a {
				@include linkage($darkGray,lighten($darkGray,10));
			}
			footer {
				padding-right: 10%;
				ul {
					@include shiftOva;
					margin: 0;
				}
				li {
					@include shiftOva;
					@include theLessHardButtonToButton(lighten($mauveLite,20), lighten($superDark,5));
					border: 1px solid $mauveLite;
					padding: 3px 10px;
				}
			}
		}
	}
	//Every Third project starting at the second
	.projectPost:nth-child(3n+2) {
		background-color: lighten($orangeSalmonLite,10);
			article.projectDescription {
				footer {
					padding-right: 10%;
					ul {
						@include shiftOva;
						margin: 0;
					}
					li {
						@include shiftOva;
						@include theLessHardButtonToButton(lighten($orangeSalmonLite,10), $superDark);
						border: 1px solid $orangeSalmon;
						padding: 3px 10px;
					}
				}
			}
	}

	//Every Third project starting at the third
	.projectPost:nth-child(3n+3) {
		background-color: lighten($grayTeal,15);
			article.projectDescription {
				a {
					@include linkage($darkGray,$darkGray);
				}
				footer {
					padding-right: 10%;
					ul {
						@include shiftOva;
						margin: 0;
					}
					li {
						@include shiftOva;
						@include theLessHardButtonToButton(lighten($grayTeal,15), lighten($superDark,5));
							border: 1px solid darken($grayTeal,10);
						padding: 3px 10px;
					}
				}
			}
	}
}

.projectPost {
	@include shiftOva;
	width: 100%;

	//Featured Image
	div.projectPreview {
		@include column(4);
		figure {
			width: 100%;
			position: relative;
			img {
				width: 100%;
				height: auto;
			}
			.imacTemplate {
				z-index:5;
				padding-top: 5px;
				width: 100%;
				height: auto;
				position: relative;
			}
			.featuredImage {
				position:absolute;
				top: 5.5%;
				left: 3.5%;
				background-color: $superDark;
				img {
					width: 96.5%;
				}
			}
		}
		// Buttons
			ul.buttons {
				text-align:center;
				width: 100%;
				margin-top:7%;
				li {
					display:inline;
					min-width:95px;
					a {
						@include theHardestButtonToButton($darkBlue,white,$blue);
					}
				}
			}
	}
	//Project Description
	article.projectDescription {
		@include column(8);
		padding: 1% 2.5% 0 5%;
		h3 {
			margin-bottom: 10px;
		}
		h4 {
			@include fontify(1em,700);
			margin:0;
		}
		p {
			@include fontify(0.95em,400,1.7em,0.03em);
			font-family: 'Noto Sans';
		}
	}
}

//MEDIA QUERIES – WORK SECTION
//----------------------------------------------------------------
@media all and (max-width: 768px) {
	.projectPost {
		//Featured Image
		div.projectPreview {
			@include column(12);
			text-align: center;
			figure {
				width: 100%;
				text-align:center;
				img {
				}
				.imacTemplate {
					// z-index:5;
					// padding-top: 5px;
					// width: 100%;
					// height: auto;
					// position: relative;
				}
				.featuredImage {
					position:absolute;
					top: 5%;
					left: 0%;
					img {
						width: 94%;
					}
				}
			}

			//Buttons
			.buttons {
				margin:0 auto;
				@include column(12);
			}
		}
		//Project Description
		article.projectDescription {
			@include column(12);
			margin-top:12%;
			padding: 1%;
		}
	}
}




//----------------------------------------------------------------
//BLOG SECTION
//----------------------------------------------------------------
 

.fullBleed.blog {
	background-color: $dirtyYellowLite;
	.container.blogContainer {
		padding: 5% 4% 75px 4%;
	}
}

//Single Post
.homepagePost {
	position: relative;
	z-index: 0;
	@include column(4);
	margin-bottom: 15px;
	padding: 3%;
	background-color: $dirtyYellow;
	min-height: 325px;
	p {
		margin-bottom: 0;
	}
	header {
		@include fontify(1.25em,700);
		color: $darkGray;
		// padding: 20px;
		.post-categories { //this is generated by WordPress (the_category)
			margin: 0;
			padding: 0;
			text-transform: uppercase;
			@include fontify(0.6em,500);
			color: $deepRed;
			li {
				list-style-type: none;
				margin: 0;
			}
		}
	}
	article {
		clear: none;
		color: darken($darkGray,5);
		.read-more {
			@include fontify(0.75em,700);
			text-transform: uppercase;	
		}
	}
	footer {
		@include fontify(0.6em,700);
		color: darken($dirtyYellow,20);
		text-transform: uppercase;
	}
	.btn {
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: $red;
		padding: 5px 10px;
		&:hover {
			background-color: $deepRed;
		}
	}
}

//MEDIA QUERIES – BLOG SECTION
//----------------------------------------------------------------
@media all and (max-width: 944px) {
	.homepagePost {
		@include column(6);
		margin-bottom: 15px;
		min-height:285px;
		header {
			@include fontify(1.25em,700);
		}
		.excerpt {
			@include fontify(1em,500);
		}
	}
} 

@media all and (max-width: 768px) {
	.homepagePost {
		min-height:300px;
		header {
			@include fontify(1.25em,700);
		}
		.excerpt {
			@include fontify(1em,500);
		}
		p {
			margin-bottom: 0;
		}
		footer {
			p {
				margin-bottom: 1.5em;
			}
		}
	}
}

@media all and (max-width: 640px) {
	.homepagePost {
		@include column(12);
		min-height:200px;
		margin-bottom: 15px;
		padding: 5%;
	}
	header {
		@include fontify(1.25em,700);
	}
	.excerpt {
		@include fontify(1em,500);
	}
	footer {
		@include fontify(1em,700);
	}
}



//----------------------------------------------------------------
//SINGLE PAGE
//----------------------------------------------------------------

.fullBleed.singlePage {
	background-color: $blogGray;
	p {
		@include fontify(1em,400,1.6em,0.02em);
		font-family: 'Noto Sans',sans-serif;
		margin: 1.75em 0;
		color: darken($darkGray,10);
	}
	strong {
		@include fontify(1em,700);
		font-family: 'Raleway', sans-serif;
		margin-top: 0;
	}
	h2 {
		@include fontify(1.5em,700);
		color: $darkGray;
		margin:0;
		padding-bottom: 5px;
		border-bottom: 5px solid $red;
	}
}

.fullBleed.singlePage {
	.container {
		padding: 15% 10% 10% 4%;
		aside {
			@include column(2);
			@include fontify(0.8em,500);
			p.single-date {
				margin: 0.5em 0;
			}
			.single-tagSection {
				padding-bottom: 10px;
				border-bottom: 5px solid $red;
				p.single-tags {
					font-weight: 700;
					color: $darkGray;
					margin: 0.75em 0;
				}
			}
		}
		main {
			@include column(9);
			@include push(0.8);
			header {

			}
			article {
				blockquote {
				}
				ol {
					font-family:'Noto Sans', sans-serif;
					strong {
						font-family:'Noto Sans', sans-serif;
					}
				}
				img {
					max-width: 75%;
				}
			}
			footer {

			}

		}
	}
}



//----------------------------------------------------------------
//FOOTER
//----------------------------------------------------------------

footer.fullBleed.footerSection {
	background-color: $heroGray;
	.container {
		margin: 0 auto;
		padding: 1%;
	}
	a {
		@include linkage($red,$deepRed);
	}
	.mobileMail {
		display:none;
	}
	h3 {
		text-transform: none;
	}
	.socialIcons {
		@include column(6);
		text-align:right;
	}
	.otherLinks {
		@include column(6);
		margin-top:5px;
		h3 {
			margin-bottom:0;
		}
	}
}

//----------------------------------------------------------------
//MEDIA QUERIES

@media all and (max-width: 640px) {
	footer.fullBleed.footerSection {
		.otherLinks {
			display:none;
		}
		.socialIcons {
			@include column(12);
			
		}

		.mobileMail {
			display:inline;
		}
	}
}



//----------------------------------------------------------------
//----------------------------------------------------------------

//----------------------------------------------------------------
//RESUME PAGE
//----------------------------------------------------------------

/*RESUME STARTS*/

.resume {
	padding: 50px 12%;
	line-height: 1.8em;
	background: #F0F0E4;
	h3 {
		margin-bottom:1.5em;
	}
	h3.title {
		text-align: center;
	}
	h4 {
		@include fontify(1em,700);
	}
}

.resumeSection {
	padding: 20px 0;
	border-bottom: 1px solid #8C9492;

}

// h4 {
// 	font-weight: 700;
// }

.dates {
	float: right;
	font-weight: 400;
	padding-right: 10px;
	/*text-transform: lowercase;*/
}

.resumeSection dd {
	padding-bottom: 30px;
	margin: 0;
}

// h3 {
// 	font-size: 12px;
// 	font-weight: 700;
// 	text-transform: uppercase;
// }



























